body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.top {
  height: 50px;
  background-color: #DADBDB;
  width: 100%;
}
ul li {
  display: inline;
  text-decoration: none;
}

.contact {
  padding-left: 10%;
  padding-top: 1.5px;
}
.mail {
  padding-left: 1em;
}

.share {
  float: right;
  padding-right: 10%;
}
